*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right, rgb(55, 0, 255), rgb(195, 0, 255)); 
}
#container{
    
    padding:11px;
    border-radius: 15px;
    background-color: #fff;
    max-width: 100%;
    min-width: 200px;
    margin:auto;
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
    h1{
        margin-bottom: 4px;
        font-family: 'Courier New', Courier, monospace;
        font-size:large;
        font-weight: 900; 
    }
    p{
    text-align: justify;
    }
}
form{
    flex-direction: column;
    display: flex;
    
    align-items: center;
    width: 100%;
    height: 65vh;
    input{
        width: 300px;
        margin: auto;
        margin-top:3%;
        margin-bottom:20px;
        
        
    }
    button{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
        width: 80px;
        height: 30px;
        margin-top:0px;
    }
}
.next{
    margin-top: 20px;
    width: 150px;
    background-color:rgb(55, 0, 255);
    border:none;
    padding: 5px;
    color:#fff;
    border-radius: 15px;
}
.back{
    border-radius: 15px;
    color:#fff;
    padding: 5px;
    border:none;
    margin-top: 20px;
    width:150px;
    background-color:rgb(195, 0, 255);
}
.btn-finish{
    margin-top: 20px;
    width: 150px;
    background-color:rgb(102, 0, 255);
    border:none;
    padding: 5px;
    color:#fff;
    border-radius: 15px;
}  
#names{
    margin-top: 50px;
    
} 