body {
    font-family: Arial, sans-serif;
}

label {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

#submit-btn {
    margin-top: 20px;
    padding: 10px;
    font-size: 1.2em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: #3e8e41;
}