
resolucoes/2ano-vespertino/luancairespereira/parte1/q2/parte4/q2/.gitkeep
resolucoes/2ano-vespertino/luancairespereira/parte1/q2/parte4/q1/.gitkeep
resolucoes/2ano-vespertino/luancairespereira/parte1/q2/parte4/q1/.gitkeep
resolucoes/2ano-vespertino/luancairespereira/parte1/q2/parte4/q2/.gitkeep
